<h1>Items In Your Cart</h1>

<div>
	<% @line_items.each do |line_item| %>
		<ul>
			<li><strong>Item:</strong> <%= line_item.product.name %></li>
			<li><strong>Item Price:</strong> <%= number_to_currency line_item.product.price %></li>
			<li><strong>Qty:</strong> <%= line_item.quantity %></li>
			<li><strong>Total:</strong> <%= number_to_currency line_item.line_item_total %></li>
		</ul>
	<% end %>
</div>

<div>
	<%= form_tag('/checkout') do %>
		<%= submit_tag "Proceed to Checkout?", class: "btn btn-warning" %>
	<% end %>
</div>